.thumb {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &.no-thumb {
        background-color: $inverse;
        background-image: url('src/styles/assets/icon/camera.svg');
        background-size: 40%;
        opacity: 0.6;
    }
}
