posts {
    .loading {
        margin: -15px auto 0;
        opacity: 0;

        /* Transform used for better performance */
        transform: translateY(0);
        transition: opacity 0.15s ease-out,         transform 0.15s ease-out;

        &.is-loading {
            opacity: 1;

            transform: translateY(60px);
        }
    }
}
