.post-item {
    display: block;
    background: $neutral-90-color;
    border-bottom: 1px solid $neutral-80-color;
    font-size: 0; /* So that inline block works without margins */
    cursor: pointer;

    -webkit-transition: background 0.15s ease-out;
            transition: background 0.15s ease-out;

    &:hover {
        background: $inverse;
    }

    &:last-child {
        border: none;
    }

    & .post-thumb,
    & .post-info {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
    }

    & .post-thumb {
        width: 96px;
        height: 110px;
    }

    & .post-info {
        width: calc(100% - 96px);
        padding: 18px;
    }

    & .post-author {
        font-weight: 700;
        font-size: 16px;
        color: $primary-50-color;
        margin: 0;
    }

    & .post-desc {
        font-size: 20px;
        font-weight: 300;
    }

    & .post-social {
        margin: 10px 0 0;
        padding: 0;
        color: $neutral-50-color;

        & li {
            display: inline-block;
            vertical-align: top;
            line-height: 16px;
            font-size: 12px;
        }

        & li:not(:first-child) {
            margin-left: 22px;
        }

        & .icon-wrapper {
            margin-right: 8px;
        }
    }
}

