.icon-wrapper,
.icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 0 !important;
    line-height: 0 !important;
}

.icon {
    &,
    &.icon-small {
        width: 14px;
        height: 14px;
    }

    &.icon-medium {
        width: 28px;
        height: 28px;
    }

    &.icon-large {
        width: 56px;
        height: 56px;
    }
}

