.icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;

    &.icon-comment {
        background-image: url('components/_assets/icon/comment.svg');
    }

    &.icon-favorite {
        background-image: url('components/_assets/icon/up.svg');
    }

    &.icon-down {
        background-image: url('components/_assets/icon/down.svg');
    }
}
