/* Apply a natural box layout model to all elements */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Truncate */
.truncate {
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Align middle utility class that aligns content horizontally
/* of unknown width */
.align-middle-wrapper {
    height: 100%;
    text-align: center;
    font-size: 0;
}

/* The ghost, nudged to maintain perfect centering */
.align-middle-wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* The element to be centered, can also be of any width and height */
.align-middle {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
