<% if (!thumbnail || thumbnail === '' || thumbnail === 'nsfw') { %>
<div class="thumb no-thumb post-thumb"></div>
<% } else { %>
<div class="thumb post-thumb" style="background-image:url(<%= thumbnail %>)"></div>
<% } %>
<div class="post-info">
    <div class="post-author"><%= author %></div>
    <div class="truncate post-desc"><%= title %></div>
    <ul class="post-social">
        <li><div class="icon icon-comment"></div><%= num_comments %> comments</li>
        <li><div class="icon icon-favorite"></div><%= ups %> ups</li>
        <li><div class="icon icon-down"></div><%= downs %> downs</li>
    </ul>
</div>
